[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==1.4.9"
anyjson = "==0.3.3"
billiard = "==3.3.0.23"
celery = "==3.1.18"
django-compat = "==1.0.15"
django-crontab = "==0.7.1"
django-filter = "==2.2.0"
djangorestframework = "==3.10.2"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==4.3.0"
kombu = "==3.0.37"
markdown = "==3.1.1"
psycopg2 = "==2.8.3"
pytz = "==2019.2"
six = "==1.12.0"
sqlparse = "==0.3.0"
Django = "==2.2.4"
PyJWT = "==1.7.1"

[requires]
python_version = "3.6"
